app:
    build: .
    ports:
        - "8000:8000"
        - "9000:9000"
    volumes:
        - ./php:/usr/src/php
    links:
        - db:mysql

db:
  image: mysql
  ports:
    - "3306:3306"
  environment:
    MYSQL_ROOT_PASSWORD: password
    MYSQL_DATABASE: typo3
    MYSQL_USER: typo3
    MYSQL_PASSWORD: typo3    

